{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div
    class="login-page-container d-flex align-items-center justify-content-center">
    <!-- Logo Container -->
    <div class="login-logo mt-3 mb-2">
        <img src="{% static 'images/logo2.png' %}" alt="Culture Club Logo">
    </div>

    <!-- Login Form Container -->
    <div class="login-form-container col-lg-4 col-md-10 col-sm-12">
        <h1 class="text-center login-culture-club mb-3">
            {% trans "CULTURE CLUB" %}</h1>
        <div class="card-body card-login">
            <h2 class="text-center h2-login mt-2">{% trans "log in" %}</h2>
            <br>
            <small>
                {% trans "Not a member yet? To read posts and interact with the community," %}
                <a class="link" href="{{ signup_url }}">
                    {% trans "sign up" %}
                </a>
                {% trans "first." %}
            </small>
            </p>
            <hr>
            <form class="login mt-4" method="POST"
                action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center mt-4">
                    <button class="btn btn-primary"
                        type="submit">{% trans "Log In" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}