{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container col-md-8 col-sm-12">
    <!-- Masthead Section -->
    <div class="masthead">
        <div class="container card-body">
            <div class="row g-0">
                <div class="col-md-12 masthead-text">
                    <h1 class="post-title">{% trans "Sign Up" %}</h1>

                </div>
            </div>
        </div>
    </div>

    <!-- Content Section -->
    <div class="row">
        <div class="col card mb-4">
            <div class="card-body">
                <p class="text-center px-4">
                    {% trans "Welcome to join the Culture Club!" %}
                    <br>
                    <small>
                        {% trans "Not convinced yet? Read" %}
                        <a class="link"
                            href="{% url 'about_us' %}">{% trans "About Us" %}</a>
                        {% trans "first." %}
                    </small>
                </p>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <form class="signup mt-4" id="signup_form" method="post"
                    action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg"
                            type="submit">{% trans "Sign Up" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}