/* Color variables */
:root {
    --primary-color: #012326;
    --secondary-color: #bd53c0;
    --accent-color: #ffd0e6;
    --dark-bg: #0000006b;
    --light-text: #a6c9d1;
}

/* Basic body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right bottom, #01030b, #081118, #091a22, #05232a, #012c30);
    color: var(--light-text);
}

/* Navbar styles */
.navbar {
    background-color: var(--primary-color);
}

.navbar-dark .navbar-brand {
    color: var(--accent-color);
}

.nav-link {
    color: var(--light-text);
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* Footer styles */
.footer {
    background-color: var(--primary-color);
    color: var(--light-text);
}

/* Button styles */
.btn-primary,
.btn-signup {
    background-color: var(--secondary-color);
    color: var(--light-text);
}

.btn-primary:hover,
.btn-signup:hover {
    background-color: var(--accent-color);
    color: var(--dark-bg);
}

/* Link styles */
.link,
.post-link,
.page-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.link:hover,
.post-link:hover,
.page-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Card styles */
.card {
    border: none;
    background-color: var(--dark-bg);
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
}

.card-body {
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 4px 15px 0px #0000006b,
        15px 4px 48px 15px rgba(18, 18, 18, 0.55);
    box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 4px 15px 0px #0000006b,
        15px 4px 48px 15px rgba(18, 18, 18, 0.55);
}

.card-title {
    color: var(--light-text);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: var(--light-text);
    font-size: 1rem;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--light-text);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Adjusting the heart icon */
.fa-heart {
    color: var(--secondary-color);
}