/* Color variables */
:root {
    --primary-color: #0c5858;
    /* Turquoise */
    --secondary-color: #9c27b0;
    /* Purple/Pink */
    --accent-color: #e6cf08;
    /* Yellow */
    --dark-bg: #0d0d0d;
    /* Dark background */
    --light-text: #ffffff;
    /* Light text */
}

/* Basic body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-bg);
    color: var(--light-text);
}

/* Navbar styles */
.navbar {
    background-color: var(--primary-color);
}

.navbar-dark .navbar-brand {
    color: var(--accent-color);
}

.nav-link {
    color: var(--light-text);
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* Footer styles */
.footer {
    background-color: var(--primary-color);
    color: var(--light-text);
}

/* Button styles */
.btn-primary,
.btn-signup {
    background-color: var(--secondary-color);
    color: var(--light-text);
}

.btn-primary:hover,
.btn-signup:hover {
    background-color: var(--accent-color);
    color: var(--dark-bg);
}

/* Link styles */
.link,
.post-link,
.page-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.link:hover,
.post-link:hover,
.page-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Card styles */
.card {
    border: none;
    background-color: var(--dark-bg);
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1rem;
}

.card-title {
    color: var(--light-text);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: var(--light-text);
    font-size: 1rem;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--light-text);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Adjusting the heart icon */
.fa-heart {
    color: var(--secondary-color);
}