/* Importing the Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather:wght@300&display=swap');

/* --- Color Variables --- */
:root {
    --primary-color: #012326;
    --secondary-color: #de81e1;
    --third-color: #af46b3;
    --accent-color: #08a2b6;
    --dark-bg: #0000006b;
    --light-text-gr: #cbeaf1;
    --light-text-pi: #fac7f1;
    --white-text: #ffffff;
}

/* --- Basic Body Styles --- */
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right bottom, #01030b, #081118, #091a22, #05232a, #012c30);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: var(--light-text-gr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
}

/* --- Navbar Styles --- */
.navbar {
    background-color: var(--primary-color);
}

.navbar-dark {
    color: var(--accent-color);
}

.navbar-logo {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
    transition: transform 0.1s ease;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: var(--light-text-gr);
}

.nav-link:hover {
    color: var(--white-text);
}

.nav-link.dropdown-toggle i.fas.fa-user-circle {
    color: var(--accent-color);
    transition: transform 0.1s ease;
}

.nav-link.dropdown-toggle i.fas.fa-user-circle:hover {
    transform: scale(1.1);
}

/* --- Footer Styles --- */
.footer {
    background-color: var(--primary-color);
    color: var(--light-text-gr);
}

.footer a {
    color: var(--accent-color);
    text-decoration: none;
    transition: transform 0.1s ease;
}

.footer a:hover {
    color: var(--light-text-gr);
    text-decoration: underline;
    transform: scale(1.1);
}

/* Primary Button Styling */
.btn-primary,
.btn-signup {
    background-color: var(--third-color);
    color: var(--light-text-gr);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
}

/* Button Hover Styling */
.btn-primary:hover,
.btn-signup:hover {
    background-color: #cb50cf;
    color: var(--light-text-gr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow for depth */
}

/* Button Active (Click) Styling */
.btn-primary:active,
.btn-signup:active {
    background-color: var(--secondary-color);
    color: var(--light-text-gr);
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Button Focus Styling */
.btn-primary:focus,
.btn-signup:focus {
    background-color: var(--third-color);
    color: var(--light-text-gr);
    outline: none;
    box-shadow: 0 0 0 2px var(--bg);
}

.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    background: transparent;
    border: none;
}

/* --- Link Styles --- */
a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--third-color),
        text-decoration: underline;
}

a:active {
    color: var(--accent-color);
    text-decoration: underline;
}

.link,
.post-link,
.page-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.link:hover,
.post-link:hover,
.page-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


/* --- Card Styles --- */
.card {
    border: none;
    background-color: var(--dark-bg);
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
}

.card-body {
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 4px 15px 0px #0000006b,
        15px 4px 48px 15px rgba(18, 18, 18, 0.55);
    box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 4px 15px 0px #0000006b,
        15px 4px 48px 15px rgba(18, 18, 18, 0.55);
}

.card-title {
    color: var(--light-text-gr);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: var(--light-text-gr);
    font-size: 1rem;
}

.aspect-ratio-3-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 66.67%;
    overflow: hidden;
}

.image-container .aspect-ratio-3-2 {
    transition: transform 0.5s ease;
}

.image-container:hover .aspect-ratio-3-2 {
    transform: scale(1.1);
}

.author {
    position: absolute;
    bottom: -5px;
    left: 6px;
    color: var(--light-text-gr);
    background-color: rgba(1, 55, 48, 0.5);
    padding: 3px;
    border-radius: 2px;
    font-size: 0.7rem;
}

.fa-heart {
    color: var(--third-color);
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.masthead-text {
    background-color: rgba(1, 55, 48, 0.5);
    color: var(--light-text-gr);
    position: relative;
}

.masthead-image {
    position: relative;
}

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background-color: rgba(1, 55, 48, 0.5);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);
    z-index: 100;
} */


/* --- Profile Section Styles --- */
.profile-details {
    margin: 0 auto;
    padding: 20px;
}

.profile-table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table td {
    padding: 16px;
    border-bottom: 1px solid #dfc7c7;
}

.category-label-top,
.category-label-top i {
    color: var(--accent-color);
    font-weight: bolder;
}

.category-label-top {
    text-align: left;
    width: 100%;
    line-height: 1.5;
}

.category-label {
    font-weight: bolder;
    text-align: right;
    width: 26%;
    line-height: 1.5;
}

.category-label,
.category-label i {
    color: var(--accent-color);
}

.top-categories-heading {
    color: var(--secondary-color);
    text-align: center;
    font-weight: bolder;
}

.table-spacing {
    height: 40px;
}

.top-categories td:first-child {
    text-align: right;
}

.bio-text {
    color: var(--light-text-gr);
    font-weight: 100;
    font-size: small;
    width: 100%;
}

.bio-height {
    min-height: 50px;
}

.profile-img {
    width: 100%;
    max-width: 230px;
    height: auto;
    display: inline-block;
    object-fit: cover;
}

/* --- Media Queries --- */
@media (max-width: 767px) {

    /* On small screens */
    .profile-img {
        margin-bottom: 20px;
    }
}