{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">

        </div>
    </div>
</div>

<!-- Content Section -->
<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <div class="card-body mt-5">
                <h1 class="account-heading text-center m-4">Manage Account
                </h1>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <!-- Delete Account Section -->
                <div class="account-delete-section">
                    <h3 class="text-center mt-5">Delete Account</h3>
                    <p class="text-center mt-5"><strong>WARNING:</strong>
                        Deleting your account is irreversible. This will
                        permanently remove your whole profile and
                        everything
                        associated with it.</p>
                    <form method="post"
                        action="{% url 'account_delete' request.user.pk %}"
                        class="text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg m-2"
                            onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete
                            Account</button>
                        <a href="{% url 'profile' %}"
                            class="btn btn-secondary btn-lg m-2">No, Go
                            Back</a>
                    </form>
                </div>
            </div>
            <!-- Change Password Section -->
        </div>
    </div>
</div>

{% endblock content %}