{% extends 'base.html' %}
{% block content %}

<div class="container col-md-8 col-sm-12">
    <!-- Masthead Section -->
    <div class="masthead">
        <div class="container card-body">
            <div class="row g-0">
                <div class="col-md-12 masthead-text">
                    <h1 class="post-title">Confirm Delete</h1>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Form Section -->
    <div class="row">
        <div class="col card mb-4">
            <div class="card-body">
                <p><strong>WARNING! If you delete the post, the action is
                        irreversible.</strong>
                </p>
                <p>Are you sure you want to delete the post titled
                    "{{ object.blog_title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-4 me-3">Yes,
                        Delete</button>
                    <a href="{% url 'my_posts' %}"
                        class="btn btn-secondary mt-4 me-3">No, Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}