{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="my-4 text-center">Latest Posts</h1>
    <div class="row">
        <!-- Category Selection menu -->
        <div class="col-12 mt-3">
            <div class="row">
                <div id="category-buttons" class="my-4 text-center">
                    <a href="?category=Movies/Series"
                        class="btn ctg btn-secondary m-2">Movies/Series</a>
                    <a href="?category=Music Albums"
                        class="btn ctg btn-secondary m-2">Music</a>
                    <a href="?category=Books"
                        class="btn ctg btn-secondary m-2">Books</a>
                    <a href="?category=Podcasts"
                        class="btn ctg btn-secondary m-2">Podcasts</a>
                    <a href="?category=Miscellaneous"
                        class="btn ctg btn-secondary m-2">Misc</a>
                </div>


                <!-- Blog Entries Column -->
                <div class="col-12 mt-3">
                    <div class="row">
                        {% for blogpost in blogposts %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card mb-4 blogpost-card">
                                <div class="card-body">
                                    <a href="{% url 'blogpost_detail' blogpost.slug %}"
                                        class="image-container-link">
                                        <div class="image-container">
                                            {% if "placeholder" in blogpost.featured_image.url %}
                                            <img class="card-img-top img-fluid aspect-ratio-3-2"
                                                src="https://github.com/DebbieBergstrom/Culture-Club/raw/main/media/placeholder_images/culture_club_logo.webp"
                                                alt="Blog Post Image">
                                            {% else %}
                                            <img class="card-img-top img-fluid aspect-ratio-3-2"
                                                src="{{ blogpost.featured_image.url }}"
                                                alt="Blog Post Image">
                                            {% endif %}
                                            <div class="image-flash">
                                                <p class="author">Author:
                                                    {{ blogpost.author }}</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{% url 'blogpost_detail' blogpost.slug %}"
                                        class="post-link">
                                        <h2 class="card-title mt-4">
                                            {{ blogpost.blog_title|truncatechars:50 }}
                                        </h2>
                                    </a>
                                    <hr />
                                    <p class="card-text card-excerpt">
                                        {{ blogpost.excerpt|truncatechars:50 }}
                                    </p>
                                    <hr />
                                    <p class="card-text text-muted h6">
                                        {{ blogpost.created_on }} <i
                                            class="far fa-heart"></i>
                                        {{ blogpost.number_of_likes }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <!-- Pagination code from code Institute django walkthrough project -->
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"
                            class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"
                            class="page-link"> NEXT &raquo;</a></li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}

<!-- JavaScript code for making the category buttons appear active -->
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get all category buttons
        let categoryButtons = document.querySelectorAll('.btn.ctg');

        // Get current URL parameters (because 'Music Album' contains space)
        let currentSearchParams = new URLSearchParams(window.location
            .search);

        // Iterate through each button
        categoryButtons.forEach(function (button) {
            // Get the category from the button's href attribute
            let buttonCategory = button.getAttribute('href')
                .split('=')[1];

            // Check if the current URL's category matches the button's category
            if (currentSearchParams.get('category') ===
                decodeURIComponent(buttonCategory)) {
                // Add 'active' class to the button
                button.classList.add('active');
            }
        });
    });

    // Event listener for each button to remove 'active' class from other buttons
    document.querySelectorAll('.btn.ctg').forEach(function (button) {
        button.addEventListener('click', function () {
            document.querySelectorAll('.btn.ctg').forEach(
                function (otherButton) {
                    otherButton.classList.remove('active');
                });
            button.classList.add('active');
        });
    });
</script>
{% endblock scripts %}