{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <div class="card-body mt-5">
                <!-- Profile Header Section -->
                <div class="row align-items-center">
                    <!-- Profile Image -->
                    <div class="col-md-4 col-sm-12 text-center">
                        <img class="profile-img"
                            src="{{ profile.profile_image.url }}"
                            alt="Profile Image">
                    </div>

                    <!-- User Info and Links -->
                    <div class="col-md-8 col-sm-12">
                        <h1 class="account-heading">{{ profile.user.username }}
                        </h1>
                        {% if is_own_profile %}
                        <div class="profile-links mt-3 small">
                            <a href="{% url 'profile_edit' %}"><i
                                    class="fas fa-edit"></i> Edit Profile
                            </a>
                            <a
                                href="{% url 'account_delete' request.user.pk %}"><i
                                    class="fa fa-cog"></i>
                                Manage Account</a>
                        </div>
                        {% endif %}
                        <div class="category-label-top mt-4"><i class="fa fa-pencil-alt
                                mr-3"></i> Bio:
                            <p class="bio-text bio-height">
                                {{ profile.bio }}</p>
                        </div>
                        <div class="category-label-top mt-2"><i
                                class="fa fa-globe mr-3"></i> Country:
                            <p class="bio-text">
                                {{ profile.country }}</p>
                        </div>
                    </div>
                </div>

                <!-- Spacing between tables -->
                <div class="table-spacing"></div>
                <div class="profile-details">
                    <!-- Heading for Top Categories -->
                    <h3 class="top-categories-heading mb-3">My Top Selection
                    </h3>
                    <!-- Second Table for Top categories -->
                    <table class="profile-table top-categories">
                        <tr>
                            <td class="category-label"><i
                                    class="fa fa-film"></i> Top<br>Movies:</td>
                            <td>{{ profile.top_movies }}</td>
                        </tr>
                        <tr>
                            <td class="category-label"><i class="fa fa-tv"></i>
                                Top<br>Series:</td>
                            <td>{{ profile.top_series }}</td>
                        </tr>
                        <tr>
                            <td class="category-label"><i
                                    class="fa fa-music"></i> Top<br>Music
                                Albums:
                            </td>
                            <td>{{ profile.top_music_albums }}</td>
                        </tr>
                        <tr>
                            <td class="category-label"><i
                                    class="fa fa-book"></i> Top<br>Books:</td>
                            <td>{{ profile.top_books }}</td>
                        </tr>
                        <tr>
                            <td class="category-label"><i
                                    class="fa fa-microphone"></i>
                                Top<br>Podcasts:
                            </td>
                            <td>{{ profile.top_podcasts }}</td>
                        </tr>
                        <tr>
                            <td class="category-label"><i
                                    class="fa fa-star"></i>
                                Top<br>Miscellaneous:</td>
                            <td>{{ profile.top_miscellaneous }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}