{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card-body">
                <div class="row">
                    <!-- Displaying UserProfile fields -->
                    <img class="rounded-circle account-img"
                        src="{{ profile.profile_image.url }}"
                        alt="Profile Image">
                    <h3 class="account-heading">{{ profile.user.username }}
                    </h3>
                    {% if is_own_profile %}
                    <div class="profile-links">
                        <a href="{% url 'profile_edit' %}">Edit Profile</a>
                        <a href="#">Manage Account</a>
                    </div>
                    {% endif %}
                    <p class="card-text">Bio: {{ profile.bio }}</p>
                    <p>Country: {{ profile.country }}</p>
                    <p>Top Movies: {{ profile.top_movies }}</p>
                    <p>Top Series: {{ profile.top_series }}</p>
                    <p>Top Music Albums: {{ profile.top_music_albums }}</p>
                    <p>Top Books: {{ profile.top_books }}</p>
                    <p>Top Podcasts: {{ profile.top_podcasts }}</p>
                    <p>Top Miscellaneous: {{ profile.top_miscellaneous }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}